# Ignore Composer files
/composer.lock
/vendor/

# Ignore PHPUnit files.
/.phpunit.result.cache
/phpunit.xml

# Ignore PHPStan files.
/phpstan.neon

# Some examples will download files from Internet. This is to ignore those downloaded files.
/examples/clients/*.png
