# Ignore PhpStorm files
/.idea/

# Ignore NetBeans files
/nbproject/

# Ignore files under Mac
.DS_Store

# Ignore Composer files
/composer.lock
/composer.phar
/vendor/

# Some examples will download files from Internet. This is to ignore those downloaded files.
/examples/clients/*.png
