parameters:
  level: 9
  paths:
    - ./examples
    - ./tests
  reportUnmatchedIgnoredErrors: true
  ignoreErrors:
    -
      message: '#Method Swoole\\Lock::lock\(\) invoked with \d+ parameters?, 0 required\.#'
      path: ./examples/locks/lock-across-processes.php
    -
      message: '#Method Swoole\\Lock::lock\(\) invoked with \d+ parameters?, 0 required\.#'
      path: ./examples/io/block-a-process-using-swoole-lock.php
