name: Static Analysis

on: [ push, pull_request, workflow_dispatch ]

jobs:
  static-analysis:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        version: ["5.1", "6.0"]

    container:
      image: phpswoole/swoole:${{ matrix.version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP And Swoole
        run: |
          set -e
          echo "swoole.enable_library=Off" >> /usr/local/etc/php/conf.d/docker-php-ext-swoole.ini
          composer global require -n -q --no-progress -- \
            phpstan/phpstan=~2.0 \
            predis/predis=~2.2 \
            swoole/library=~${{ matrix.version }}

      - name: Run Static Analysis
        run: ~/.composer/vendor/bin/phpstan analyse --no-progress --memory-limit 2G
